.scoreBoard {
  background-color: #424242;
  width: 600px;
  height: 300px;
  border: lightgrey 2px solid;
  position: relative;
  color: lightgrey;
  font-weight: 500;
  font-size: 18px;
  margin: 20px;
}

.gameTime {
  background-color: black;
  width: 240px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 178px;
  border-radius: 15px;
  border: lightgrey 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minutes, .seconds {
  display: flex;
}

.minutes .digitBar, .seconds .digitBar {
  background-color: red;
  border: red;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 40px 3px 40px 3px;
}

.homeGoals, .awayGoals {
  background-color: black;
  width: 150px;
  height: 100px;
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
}

.homeGoals {
  left: 15px;
}

.awayGoals {
  right: 15px;
}

.digit {
  position: relative;
  height: 88px;
  width: 49px;
  padding: 0px;
  margin: 0 3px 0 3px;
}

.topBar {
  position: absolute;
  top: 2px;
  left: 9px;
  background-color: yellow;
}

.uprBar {
  position: absolute;
  transform: rotate(90deg);
  top: 21px;
  left: 27px;
  background-color: yellow;
}

.uplBar {
  position: absolute;
  transform: rotate(90deg);
  top: 21px;
  left: -9px;
  background-color: yellow;
}

.midBar {
  position: absolute;
  left: 9px;
  top: 40px;
  background-color: yellow;
}

.lorBar {
  position: absolute;
  transform: rotate(90deg);
  top: 59px;
  left: 27px;
  background-color: yellow;
}

.lolBar {
  position: absolute;
  transform: rotate(90deg);
  top: 59px;
  left: -9px;
  background-color: yellow;
}

.botBar {
  position: absolute;
  left: 9px;
  top: 78px;
  background-color: yellow;
}

.digitBar {
  height: 8px;
  width: 31px;
  border-radius: 30%;
  margin: 0;
}

.homeTeamName, .visitTeamName {
  position: absolute;
  top: 1px;
}

.homeTeamName {
  left: 40px;
}

.visitTeamName {
  right: 40px;
}

.shots {
  position: absolute;
  top: 105px;
  left: 178px;
  width: 240px;
  height: 75px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
}

.shots p {
  width: 50px;
  line-height: 19px;
  margin: 0;
}

.homeShots, .awayShots {
  height: 50px;
  width: 55px;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px 0 0;
  margin: 0px;
  display: flex;
}

.shots .digit {
  transform: scale(.45);
  padding: 0;
  margin: 0;
}

.teamLogos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 130px;
  padding: 0 10px 0 10px;
}

.logo {
  width: 150px;
  height: 150px;
}
