#weather {
  display: grid;
  grid-template: repeat(16, 30px) / repeat(16, 30px);
  width: 480px;
  padding: 0;
  justify-content: center;
  visibility: hidden;
}

#weather h2 {
  display: flex;
  grid-area: 1 / 1 / 2 / 17;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#wxType {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: 2 / 1 / 9 / 9;
  background-color: lightblue;
  border-radius: 15px;
}

#wxName {
  display: grid;
  text-align: center;
  grid-area: 7 / 1 / 9 / 9;
}

#currTemp {
  grid-area: 1 / 6 / 9 / 8;
  padding-top: 20px;
  font-size: xx-large;
}

#windBlock {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-area: 2 / 9 / 9 / 17;
}

#compass {
  align-self: center;
  width: 146px;
  height: 146px;
  border-radius: 50%;
  border: 2px solid black;
}

#windInfo {
  display: grid;
  text-align: center;
  grid-area: 7 / 9 / 9 / 17;
  padding-top: 20px;
}

.v1 {
  position: absolute;
  top: 93px;
  border-left: 6px solid black;
  height: 75px;
  transform-origin: bottom center;
  transform: rotate(45deg);
}

#times {
  grid-area: 9 / 1 / 12 / 9;
}

#other {
  grid-area: 9 / 9 / 12 / 17
}