#inputTodo {
	display: none;
}
.grow {
    padding: 5px 5px 5px 5px;
  	border-radius: 5px;
	height: auto;
  	width: 22%;
  	margin: 5px 1% 5px 1%;
  	float: left;
  	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  	transition: height 0.5s, box-shadow 0.3s;
  	-webkit-transition: height 0.5s;
  	text-align: center;
  	overflow: hidden;
}
.grow:hover {
    height: auto;
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}
.options {
	height: 30px;
}
.options p {
	position: absolute;
	bottom: 0px;
	left: 5px;
	font-size: 50%;
}
.options img {
	float: right;
	height: 90%;
	padding: 3px;
}