:root {
  --null_Black: #141414;
  --null_Blue: #01D7E2;
  --null_Purple: #D500FB;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  position: relative;
}

html {
  background-color: var(--null_Black);
}

h1, h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 36pt;
  color: var(--null_Blue);
  position: absolute;
  top: 75%;
  z-index: 1;
}

h3, h4, h5, h6, p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  color: var(--null_Blue);
  font-size: 32pt;
  display: inline-block;
  border-bottom: var(--null_Purple) solid 2px;
  margin: 0 auto;
}

nav {
  height: 50px;
  width: 100%;
  background-color: var(--null_Black);
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  border-bottom: var(--null_Purple) solid 2px;
}

nav a {
  color: var(--null_Blue);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

nav img {
  position: absolute;
  left: 0px;
  height: 50px;
}

p, a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 20pt;
}

p {
  color: white;
}

#heroBanner {
  position: relative;
  background-color: var(--null_Black)
}

#heroBanner img {
  width: 100%;
  height: auto;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.bordered {
  border: var(--null_Blue) 2px solid;
  margin: 0;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

main {
  position: relative;
  background-color: var(--null_Black);
  border-bottom: var(--null_Purple) 2px solid;
}

#bodyImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

section {
  z-index: 1;
}

footer {
  background-color: var(--null_Black);
}