:root {
  --null_darkGreen: #021114;
  --null_Green: #031B20;
  --null_Orange: #FFA76A;
  --null_Teal: #00F8F8;
  --frame_width: 500px;
  --frame_small: 425px;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body {
  background-color: var(--null_darkGreen);
  position: relative;
}

html {
  background-color: var(--null_darkGreen);
}

h1, h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 36pt;
  line-height: calc(1ex / 0.42);
}

h3, h4, h5, h6, p, button {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: calc(1ex / 0.38);
  color: var(--null_Orange);
  font-size: 28pt;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: var(--null_Orange);
  position: absolute;
  top: 75%;
  z-index: 1;
}

h2 {
  display: inline-block;
  border-bottom: var(--null_Teal) solid 2px;
  padding-left: 12.5%;
  color: var(--null_Teal);
  font-size: 32pt;
}

main {
  position: relative;
  background-color: transparent;
  border-bottom: var(--null_Teal) 2px solid;
}

section {
  z-index: 1;
  width: 100%;
  text-align: left;
}

section p {
  text-align: left;
  width: 75%;
  margin: 10px auto;
}

footer {
  width: 100%;
  padding-left: 12.5%;
  text-align: left;
  background-color: var(--null_Green);
}

footer a, footer p {
  color: var(--null_Orange)
}

nav {
  height: 50px;
  width: 100%;
  background-color: var(--null_Green);
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  border-bottom: var(--null_Teal) solid 2px;
}

nav a {
  color: var(--null_Orange);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

nav img {
  position: absolute;
  left: 0px;
  height: 50px;
}

@media screen and (max-width: 700px) {
  nav a {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 610px) {
  nav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 2em;
  }
}

p, a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 20pt;
  line-height: calc(1ex / 0.32);
}

p {
  color: white;
}

button {
  background-color: var(--null_darkGreen)
}

#heroBanner {
  position: relative;
  background-color: var(--null_darkGreen)
}

#heroBanner img {
  width: 100%;
  height: auto;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.secHead {
  margin-left: 12.5%;
}

.bordered {
  border: var(--null_Teal) 2px solid;
  margin: 0;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

#contactButton {
  display: flex;
  justify-content: center;
}

.videos {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px;
}

@media screen and (max-width: 950px) {
  .videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
  }
}

/* Ratio is H = W * .56215 w400 h224*/
iframe {
  margin: 5px;
  width: var(--frame_width);
  height: calc(var(--frame_width) * .5625);
  border: var(--null_Teal) 2px solid;
  z-index: 2;
}

@media screen and (max-width: 525px) {
  iframe {
    margin: 5px;
    width: var(--frame_small);
    height: calc(var(--frame_small) * .5626);
    border: var(--null_Teal) 2px solid;
    z-index: 2;
  }
}

.servOpt {
  display: flex;
  align-items: center;
  
}

.servOpt img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.info {
  text-align: left;
  align-items: end;
}

.info p {
  width: 100%;
  font-size: 1.5em;
}