html {
    background-color: #A8D0EA;
}
hr {
    width: 95%;
    color: darkblue;
}
#header {
    display: flex;
}
#logo {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid darkblue;
}
#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}
#links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}