html {
    background-color: #A8D0EA;
}
hr {
    width: 95%;
    color: darkblue;
}
header {
    display: flex;
    justify-content: center;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#logo {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid darkblue;
}
#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}
#countdown {
    width: 100%;
    display: flex;
    justify-content: center;
}
#days {
    font-size: 200%;
}
article p::first-letter {
    font-size: 150%;
}