.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/pinatubo_phrog.webp');
  height: 235px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo {
  height: 225px;
  width: 225px;
  float: left;  
  border-radius: 5px;  
}

nav {
  display: flex;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
}

footer img {
  width: 50px;
  height: 50px;
  mix-blend-mode: multiply;
}

p, ol, ul, li {
  padding: 0;
}

ol, ul {
  margin-left: 50px;
}

span {
  padding: 0;
  margin: 0;
}