.gameDisplay {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.gameDisplay > :last-child {
  align-self: center;
}

.gameTeams {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
}

.homeTeam, .awayTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameTeams img {
  height: 100px;
  width: 100px;
}

.gameTeams p {
  word-break: break-all;
}

.gameScores {
  display: flex;
  justify-content: space-around;
}