.iceRink {
  width: 800px;
  height: 340px;
  display: flex;
  position: relative;
  border: 1px grey solid;
  padding: 0;
  margin: 0;
  background-image: url('./3x-rink.png');
}

.centerLogo {
  position: absolute;
  height: 80px;
  width: 80px;
  opacity: 0.6;
  z-index: -1;
  margin: 0;
  padding: 0;
  top: 130px;
  left: 360px;
}

.centerIce {
  position: absolute;
  top: 155px;
  left: 395px;
}

.playLocation {
  position: absolute;
  top: -15px;
  left: -5px;
  margin: 0;
  padding: 0;
}

.testLocation {
  position: absolute;
  top: 0;
  left: 0;
  border: green 1px solid;
  line-height: 0px;
}