.iceRink {
  width: 600px;
  height: 255px;
  display: flex;
  position: relative;
  border: 1px grey solid;
  padding: 0;
  margin: 0;
  background-image: url('./3x-rink.png');
}

.centerLogo {
  position: absolute;
  height: 80px;
  width: 80px;
  opacity: 0.6;
  z-index: -1;
  margin: 0;
  padding: 0;
  top: 130px;
  left: 360px;
}

.playLocation {
  position: absolute;
  top: 128px;
  left: 300px;
  height: 11px;
  width: 11px;
  margin: 0;
  padding: 0;
  transform-origin: center;
  text-align: center;
  font-size: 12px;
  line-height: 8px;
}

.testLocation {
  transform: translateX(-207px) translateY(66px);
}